*.tlog
*.layout
*.sdf
*.opendb
*.idb
*.obj
*.o
*.a
*.dep
*.d
*.log
*.vcxproj.user
*.pdb
*.pch
*.obj*
*.ipch
*.suo
*.exe
*.ilk
*.lib
*.vcxproj
*.vcxproj.filters
*.recipe
*.sln
*.zip
*.code-workspace
.vscode/*
.vs/*
PSXToolchain/GameSRC*
PSXToolchain/Overlay*
PSXToolchain/PsyQ/*
PSXToolchain/mipsel-unknown-elf/*
PSXToolchain/CDSrc/0_CD_DATA/*
PSXToolchain/CDSrc/REDRIVER2.bin
PSXToolchain/CDSrc/REDRIVER2.cue
PSXToolchain/CDSrc/*.txt
src/dependencies/*
src/.vs/*
src/bin/*
src/obj/*
src/project_*
src/*.make
src/Makefile
.build/build/*
!.build/build/.gitkeep
