*.R
*.XA
*.TIM
*.FNT
*.RAW
*.BIN
*.BNK
ATTRACT.*
DRIVER2/MAPS
DRIVER2/MISSIONS
DRIVER2/FMV
DRIVER2/LEVELS
DRIVER2/MLEVELS
DRIVER2/MNLEVELS
DRIVER2/NLEVELS
DRIVER2/TRAILS
DRIVER2/DATA/MCTEXT
DRIVER2/SOUND